@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/solarized-dark.min.css');

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
}

code {
    font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
    display: none;
}

#root {
    height: 100%;
    width: 100%;
}

.columns {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 100%;
}

.uploadContainer {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.uploadDisplayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    box-sizing: border-box;

    border: 3px dashed black;
    border-radius: 20px;

    cursor: pointer;
}

.uploadDisplayContainer img {
    height: auto;
    width: 25%;
    margin-top: 50%;
}

.uploadDisplayContainer p {
    text-align: center;
    margin-top: 30px;
}

.reformer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
}

.dithKernSelect {
    margin-right: 2px;
}

.inputCanvasContainer {
    max-width: 40vw;
    max-height: 33vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.reformer canvas, .reformer img, .reformer a {
    align-self: center;
}

label input, label select {
    margin-left: 5px;
}

.dimensionInput {
    width: 50px;
}

.paletteImage {
    border: 1px solid black;
}

.codeGeneratorContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding: 5px;
}

.codeGeneratorContainer label input {
    width: 20vw;
}

.codeGeneratorContainer button {
    margin-top: 5px;
    align-self: flex-start;
}

.codeGeneratorContainer pre {
    max-height: inherit;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px;
    align-self: stretch;
}

.codeGeneratorContainer code {
    max-height: inherit;
}